<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.iven.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.UpdateVersionActivity">
        </activity>
        <activity android:name=".activity.VDHActivity">
        </activity>
        <activity android:name=".activity.third.RealmActivity">
        </activity>
        <activity android:name=".activity.PullToRefreshActivity">
        </activity>
        <activity android:name=".activity.ListViewSlideActivity">
        </activity>
        <activity android:name=".activity.DialogUtilActivity">
        </activity>
        <activity android:name=".activity.NoticeViewActivity">
        </activity>
        <activity android:name=".activity.listview.ListViewSingleActivity">
        </activity>
        <activity android:name=".activity.listview.ListViewMultiplActivity">
        </activity>
        <activity android:name=".activity.FragmentHomeActivity">
        </activity>
        <activity android:name=".activity.ViewLocationActivity">
        </activity>
        <activity android:name=".activity.TestActivity">
        </activity>
        <activity android:name=".activity.ChartViewActivity">
        </activity>
        <activity android:name=".activity.recyclerview.RecyclerviewActivity">
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".activity.material.MaterialDesignActivity">
        </activity>
    </application>

</manifest>